@page "/"

<div class="intro">
    <p>
        A <strong>Mudskip the Slime</strong> egy sötét hangulatú, cyberpunk-fantasy 2D platformer játék, ahol egy nyálkából született lény bőrébe bújva kell túlélni egy gépekkel, csapdákkal és őrült tudósokkal teli világban. A játék során érméket gyűjthetsz, különleges képességekre tehetsz szert, és felfedezheted a hat szintes pályarendszer minden titkát.
    </p>

    <p>
        A játék folyamatosan fejlődik: új mozgásmechanikák, ellenfelek, highscore és értékelési rendszer is beépítésre került. Versenyezz más játékosokkal, vezesd a toplistát, és próbáld meg kinyitni az összes titkos ajtót!
    </p>

    <p style="text-align:center; margin-top: 2rem;">
        <a href="/login" class="matrix-button" style="margin-right: 1rem;">Bejelentkezés</a>
        <a href="/register" class="matrix-button">Regisztráció</a>
    </p>
</div>
